<html>
<body>
<iframe src="http://147.213.65.206/kibana/app/dashboards#/view/27f9da70-9ee4-11eb-be6d-65ba1a5773ee?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!f%2Cvalue%3A60000)%2Ctime%3A(from%3Anow%2Fd%2Cto%3Anow%2Fd))&show-top-menu=true&show-query-input=true&show-time-filter=true" style="width:100%; height:100%;"></iframe>
<!--iframe src="http://147.213.65.206/kibana/app/dashboards#/view/3fb98a80-7cd3-11eb-be6d-65ba1a5773ee?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!f%2Cvalue%3A10000)%2Ctime%3A(from%3Anow-24h%2Cto%3Anow))&show-time-filter=true" style="width:100%; height:100%;"></iframe-->
</body>
</html>
