# external requirements
numpy
scipy
sympy
pandas
statsmodels
scikit-learn
tensorflow
keras
h5py
matplotlib
seaborn
pydot
jupyterlab
python-dateutil
python-dotenv
pandas-datareader
pandasql
# pydbgen
# bayesian-optimization
# coverage
# awscli
# PyYAML
# gast
# keras-self-attention
# keras-tcn
# gevent
# requests
# joblib
# webargs
# arrow
# docutils
# deepaas
# bat
